@charset "utf-8";
/* CSS Document */

@import url("reset.css");
@import url("fancybox.css");

/* common */
body, html { width:100%; height:100%; background:#000; overflow:hidden;}
body { position:relative; min-width:1000px; font-family:'微軟正黑體', Verdana, Arial, Helvetica, sans-serif; font-size:13px; color:#666; background:#000; z-index:1;}
h1 a{ display:block; position:absolute; top:10px; left:20px; z-index:10; width:300px; height:130px; background:url(../images/logo.png) no-repeat; text-indent:-9999px; z-index:10;}
a.open { display:none; position:absolute; width:50px; height:30px; padding:20px 0 0 0; font-size:11px; text-align:center; background: url(../images/bt_bg.png) no-repeat;; color:#fff; overflow:hidden; z-index:11; -webkit-text-size-adjust:none;}

/*.loading { display:block; position:absolute; top:0; left:0; width:100%; height:100%; background:#000 url(../images/loading.jpg) center center no-repeat; z-index:99999;}*/

/* scroll樣式 */
/* rollbar paths style */
.rollbar-path-vertical, .rollbar-path-horizontal { position:absolute; background: url(../images/scroll_bg.png); z-index:100;}
.rollbar-path-horizontal { top:0; left:0; width:100%; height:0;}
.rollbar-path-vertical { right:0; top:0; height:100%; width:3px;}

/* rollbar handle style */
.rollbar-handle{ position: relative; top:0; right:0; background:#fff; background: rgba(255,255,255,1);}
.rollbar-content { width:100%;}
 
/* 圓角 */
.rollbar-path-vertical,.rollbar-path-horizontal,.rollbar-handle {  -moz-border-radius: 10px;  -webkit-border-radius: 10px; border-radius: 10px;}

/* 選單 */
ul#menu { display:block; position:absolute; top:0; right:0; width:400px; height:100px; padding:60px 50px 0 20px; z-index:10; overflow:hidden;}
ul#menu li { display:block; float:left; margin:0 10px;  position:relative;}
ul#menu li a{ padding:0 0 10px 0; font-size:15px; font-weight:bold; color:#fff;}
ul#menu li a:hover{ color:#e2da92;}
ul#menu li.now a{ color:#e2da92;}
a.en { display:block; position:absolute; top:55px; right:90px; width:25px; height:18px; padding:7px 0 0 0; background:url(../images/language_bg.png) 0 0 no-repeat; font-size:12px; text-align:center; color:#fff; z-index:11;}
a.en:hover { background-position:0 -25px;}
a.tw { display:block; position:absolute; top:55px; right:60px; width:25px; height:19px; padding:6px 0 0 0; background:url(../images/language_bg.png) 0 0 no-repeat; font-size:13px; text-align:center; color:#fff; z-index:11;}
a.tw:hover { background-position:0 -25px;}
a.home { display:block; position:absolute; top:55px; right:30px; width:25px; height:19px; padding:6px 0 0 0; background:url(../images/home.png) 0 -25px no-repeat; font-size:13px; text-align:center; color:#fff; text-indent:-9999px; z-index:11;}
a.home:hover { background-position:0 0px;}

/* 次選單 */
ul.menu2 { display:block; position:absolute; top:90px; right:30px; margin:0; padding:10px 240px 0 0; border-top:#bbb 1px solid; z-index:10;}
ul.menu2 li { display:block; float:left; margin:0 5px; padding:0;}
ul.menu2 li a { font-size:13px; color:#bbb; }
ul.menu2 li a:hover { color:#fff;}
ul.menu2 li.now a{ color:#fff;}

#milieu ul.menu2, #privateRooms ul.menu2, #teppanyakiRooms ul.menu2 { padding:10px 108px 0 0;}
#menu ul.menu2, #lunch ul.menu2, #customization ul.menu2 { padding:10px 55px 0 0;}
#place ul.menu2, #job ul.menu2 { padding:10px 96px 0 0;}

/* 背景輪播 */
#wrap { display:none; position:absolute; top:0; left:0; width:100%; height:100%; z-index:2;}
.bgstretcher-area { height:100%; text-align:left; }
.bgstretcher, .bgstretcher UL, .bgstretcher UL LI { position: absolute; top: 0; left: 0;}
.bgstretcher UL, .bgstretcher UL LI { margin: 0; padding: 0; list-style: none;}
.bgstretcher { background: black; overflow: hidden; width: 100%; position: fixed; z-index: 1; _position: absolute; /*IE6 doesn't support fixed positioning*/ top: 0; left: 0;}
.bgstretcher-page { height:100%;}
.image-path { display:none;}
/*.bgstretcher .img-loaded { background:#000 url(../images/loading.jpg) center center no-repeat;}*/

#prev { display:block; position:absolute; left:20px; top:50%; width:100px; height:50px; margin:-25px 0 0 0; background:url(../images/slide-controlL.png) left center no-repeat; text-indent:-9999px; z-index:5; }
#next { display:block; position:absolute; right:20px; top:50%; width:100px; height:50px; margin:-25px 0 0 0; background:url(../images/slide-controlR.png) right center no-repeat; text-indent:-9999px; z-index:5; }

/* copyright */
p.copyright { display:block; position:absolute; bottom:0; left:0; width:100%; padding:20px 0; font-size:10px; color:#fff; text-align:center; z-index:10; -webkit-text-size-adjust:none;}
p.copyright span { margin:0 10px 0 0;}
p.copyright a { color:#fff;}
p.copyright a:hover { color:#333;}
a.fb { display:block; position:absolute; bottom:10px; right:10px; width:30px; height:30px; background:url(../images/fb.png) 0 0 no-repeat; text-indent:-9999px; z-index:12;}
a.fb:hover { background-position:0 -30px;}



/* 首頁展開區塊 */
#box { display:block; position:absolute; top:50%; left:0; width:100%; height:0; margin:0; /*height:250px; margin:-125px 0 0 0;*/ background:url(../images/left-bg.png); overflow:hidden; z-index:11;}
#box .content { display:none; position:relative; width:1000px; margin:0 auto; overflow:hidden;}
.index { display:block; position:relative; float:right; padding:95px 20px 0 0px;}
.index img { display:block; position:absolute; top:75px; left:0; margin: 0 15px 0 0;}
.index h2 { display:block; position:absolute; top:55px; left:0; font-size:18px; color:#e2da92; letter-spacing:2px;}
.index b {  display:block; padding:0 0 15px 0; font-size:18px; font-weight:normal; color:#fff; line-height:24px;}
.index p { display:block; padding:0 0 5px 0; color:#ccc; line-height:19px;}

/* 關閉按鈕 */
#box a#close { display:block; position:absolute; top:0; right:0; width:40px; height:40px; background:url(../images/close.jpg) 0 0 no-repeat; text-indent:-9999px; z-index:99;}
#box a#close:hover { background-position:0 -40px;}



/* 品牌故事 */
#story #box { display:block; position:absolute; top:50%; left:auto; left:-555px; width:550px; background:url(../images/left-bg.png); z-index:11;}
#story .content { display:none; position:relative; width:auto; margin:0 auto; overflow:hidden;}
#story a#close { right:20px;}
.story { display:block; position:relative; width:290px; height:165px; padding:85px 0 0 230px;}
.story img { display:block; position:absolute; top:55px; left:20px; margin: 0 15px 0 0;}
.story h2 { display:block; position:absolute; top:45px; left:229px; font-size:18px; color:#e2da92; letter-spacing:2px;}
.story b {  display:block; padding:0 0 5px 0; color:#fff; font-size:15px; line-height:19px;}
.story p { display:block; padding:0 0 5px 0; color:#ccc; line-height:19px;}



/* 媒體報導-內容 */
#reported h2 { display:block; position:absolute; top:25px; left:20px; font-size:18px; color:#e2da92; letter-spacing:2px;}
#reported #box { display:block; position:absolute; top:50%; left:0; width:100%; height:0; margin:0; /*height:430px; margin:-215px 0 0 0;*/ background:url(../images/left-bg.png); z-index:11;}
#reported a.link { display:block; position:absolute; bottom:0; left:590px; width:45px; height:45px; background:url(../images/reported_btn.png) 0 0 no-repeat; text-indent:-9999px;}
#reported a.link:hover { background-position:0 -45px;}
.reported { display:block; float:left; width:600px; height:340px; margin:60px 0 0 0; padding:0 30px 0 20px;}
.reported b { display:block; padding:0 0 15px 0; color:#fff; font-size:15px; line-height:19px;}
.reported p { padding:5px 0; color:#ccc; line-height:19px;}
.reported img { max-width:400px; padding:10px 0;}

/* 媒體報導-列表 */
.blogger_bg { display:block; position:absolute; top:50%; left:100%; width:100%; height:430px; margin:-215px 0 0 170px; background:#000; z-index:16}
ul.bloggers { display:block; width:240px; height:340px; margin:60px 0 0 20px;}
ul.bloggers li { display:block; position:relative; float:left; width:100px; height:100px; margin:5px; overflow:hidden;}
ul.bloggers li a { display:block; position:absolute; top:100px; left:0; width:90px; height:90px; padding:5px; background:url(../images/left-bg.png); font-size:12px; color:#fff; line-height:19px;}

.blogger_bg a.blogger_bt { display:block; position:absolute; top:0; left:100px; padding:5px; background:#333; color:#fff;}
.blogger_bg a.blogger_bt:hover { display:block; position:absolute; top:0; left:100px; padding:5px; background:#900; color:#fff;}
.blogger_bg a.media_bt { display:block; position:absolute; top:0; left:175px; padding:5px; background:#333; color:#fff;}
.blogger_bg a.media_bt:hover { display:block; position:absolute; top:0; left:175px; padding:5px; background:#900; color:#fff;}
.blogger_bg a.now { background:#900;}



/* 名人誌 */
.celebrity { display:block; position:relative; width:480px; height:180px; padding:105px 0 0 460px;}
.celebrity img.pic { display:block; position:absolute; top:52px; left:20px;}
.celebrity h2 { display:block; position:absolute; top:60px; left:460px; width:480px; font-size:20px; padding:0 0 10px 0; color:#e2da92; letter-spacing:2px; border-bottom:#555 1px dotted;}
.celebrity b {  display:block; padding:0 0 10px 0; font-size:16px; font-weight:normal; color:#fff; line-height:24px;}
.celebrity p { display:block; padding:0 0 15px 0; color:#ccc; line-height:19px;}



/* 感受 */
#milieu #box, #privateRooms #box, #teppanyakiRooms #box { display:block; position:absolute; top:50%; left:auto; right:-360px; width:350px; background:url(../images/left-bg.png); z-index:11;}
#milieu .content, #privateRooms .content, #teppanyakiRooms .content { display:none; position:relative; width:auto; margin:0 auto; overflow:hidden;}
#milieu a#close, #privateRooms a#close, #teppanyakiRooms a#close { right:20px;}
.milieu { display:block; position:relative; padding:75px 0 0 20px;}
.milieu h2 { display:block; position:absolute; top:40px; left:20px; font-size:18px; color:#e2da92; letter-spacing:2px;}
.milieu img { display:block; position:absolute; top:70px; left:20px;}
.milieu p { padding:5px 0; color:#ccc; line-height:19px;}
.milieu .openingHours { display:block; /*position:absolute; top:100px; left:330px;*/ margin:10px 20px 0 0; padding:15px 0 0 0px; border-top:#666 1px dotted;}
.milieu .openingHours p { padding:5px 0 0 0;}
.milieu .openingHours b { display:block; padding:0 0 5px 0; color:#fff; font-size:15px; line-height:19px;}
.milieu .openingHours span { margin:0 10px 0 0; color:#e2da92;}



/* 品味-明水然餐 */
#menu #box, #lunch #box { display:block; position:absolute; top:0; left:50%; width:0; height:100%; margin:0; background:url(../images/left-bg.png); overflow:visible; z-index:11;}
#menu .content, #lunch .content { display:none; position:relative; width:550px; height:100%; margin:0 auto; background:url(../images/menu_bg.png) 0 0 no-repeat; overflow:hidden;}
#menu a#close, #lunch a#close { right:15px;}
ul.menu { display:block; position:relative; top:0; left:0; width:550px; height:100%; padding:0; }
ul.menu li { display:block; float:left; position:relative; width:550px; overflow:hidden;}
ul.menu h2 { display:block; text-align:center; padding:0 0 10px 0; font-size:20px; color:#e2da92; letter-spacing:2px;}
ul.menu em { display:block; text-align:center; padding:0 0 20px 0; color:#fff;}
ul.menu em span { margin:0 5px; font-size:16px; color:#e2da92;}
ul.menu b { display:block; padding:15px 0 0 0; color:#fff; font-size:15px; line-height:19px;}
ul.menu p { padding:5px 0; color:#ccc; line-height:19px;}
.next { display:block; position:absolute; top:50%; right:0; width:50px; height:50px; margin:-25px 0 0 0; background:url(../images/menu_next.png) center center no-repeat; z-index:999;}
.prev { display:block; position:absolute; top:50%; left:0; width:50px; height:50px; margin:-25px 0 0 0; background:url(../images/menu_prev.png) center center no-repeat; z-index:999;}

#menu .rollbar-path-vertical, #lunch .rollbar-path-vertical { left:50%; top:0; height:100%; width:3px; margin:0 0 0 -3px;}

/* 客製品味 */
.customization { display:block; position:relative; width:480px; height:180px; padding:105px 0 0 460px;}
.customization img { display:block; position:absolute; top:50px; left:20px;}
.customization h2 { display:block; position:absolute; top:60px; left:460px; width:480px; font-size:20px; padding:0 0 10px 0; color:#e2da92; letter-spacing:2px; border-bottom:#555 1px dotted;}
.customization b {  display:block; padding:0 0 15px 0; font-size:16px; font-weight:normal; color:#fff; line-height:24px;}
.customization p { display:block; padding:0 0 10px 0; color:#ccc; line-height:19px;}



/* 尋訪 */
.place { display:block; position:relative; padding:80px 0 0 340px;}
.place h2 { display:block; position:absolute; top:50px; left:340px; width:100%; padding:0 0 10px 0; border-bottom:#555 1px dotted; font-size:18px; color:#e2da92; letter-spacing:2px;}
.place b {  display:block; padding:10px 0; font-size:15px; font-weight:normal; color:#fff; line-height:24px;}
.place p { display:block; padding:0 0 5px 0; color:#ccc; line-height:19px;}
.place .add{ display:block; padding:0 0 20px 0;}
.place .openingHours { display:block; position:absolute; top:80px; right:40px; margin:0 0 0 0;}
.place .openingHours b { color:#e2da92;}
.place .openingHours span { margin:0 10px 0 0; color:#fff;}
.place .qrcode { display:block; position:absolute; top:95px; right:190px; width:80px; height:80px;}
.place .map { display:block; position:absolute; top:50px; left:20px; width:300px; height:200px; background: url(../images/map.png) no-repeat; text-indent:-9999px;}

/* 徵才 */
#job h2 { display:block; position:absolute; top:25px; left:0; font-size:18px; color:#e2da92; letter-spacing:2px; z-index:17;}
#job ul.news_list li { display:block; padding: 0 0 0 20px; background:url(../images/icon.png) 5px 14px no-repeat; border-bottom:#666 1px dotted;}
#job .news p { display:block; clear:both;}
#job .news span { display:block; float:left; width:100px; color:#fff;}
#job .none {}
#job .none .news { padding:30px 0 0 0;}
#job .news img { width:auto;}



/* 最新消息-內容 */
#news h2 { display:block; position:absolute; top:25px; left:0; font-size:18px; color:#e2da92; letter-spacing:2px; z-index:17;}
#news #box { display:block; position:absolute; top:50%; left:0; width:100%; height:0; margin:0; /*height:430px; margin:-215px 0 0 0;*/ background:url(../images/left-bg.png); z-index:11;}
.news { display:block; float:right; width:570px; height:340px; margin:60px 50px 0 0; padding:0 40px 0 40px;}
.news b { display:block; width:570px; padding:0 0 15px 0; color:#fff; font-size:18px; line-height:22px;}
.news p { padding:5px 0; color:#ccc; line-height:19px;}
.news a { color:#e2da92;}
.news img { width:200px;}
.news .pic { display:block; float:right; margin:0 0 0 20px; border:#000 5px solid;}
.news .pic:hover { border:#fff 5px solid;}

/* 最新消息-列表 */
.news_list_bg { display:block; position:absolute; top:50%; left:0; width:0; height:430px; margin:-215px 0 0 -220px; background:#000; z-index:16}
ul.news_list { display:block; float:right; width:240px; height:340px; margin:60px 0 0 0; padding:0 40px 0 0;}
ul.news_list li { display:block; border-bottom:#666 1px dotted;}
ul.news_list li a { display:block; padding:10px 0; font-size:12px; color:#999; line-height:18px;}
ul.news_list li a:hover { color:#fff;}
ul.news_list li a.now { color:#fff;}